.body {
  background:linear-gradient(to left, rgb(0, 0, 0), rgb(128, 128, 128));
}
header{
  background:rgb(51, 51, 51) none repeat scroll 0% 0% / auto padding-box border-box;
  color: grey;
  text-align:left;
  background-origin: auto;
  box-sizing: border-box;
}
.current{
  background:rgba(211, 211, 211, 1);
}
footer{
  background:rgb(51, 51, 51) none repeat scroll 0% 0% / auto padding-box border-box ;
  color: grey;
  text-align:center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.main-content{
  background:rgba(255, 255, 255, 1);
  position:relative;
  text-align:center;
}
